<div class="game-container">

  <div class="game-content">

    <div class="game-main-toolbar-container">
      <mat-toolbar>
        <button mat-icon-button (click)="new()">
          <mat-icon aria-label="New Game">playlist_play</mat-icon>
        </button>

        <button mat-icon-button routerLink="/home">
          <mat-icon aria-label="Home">home</mat-icon>
        </button>

        <button mat-icon-button routerLink="/settings">
          <mat-icon aria-label="Settings">settings</mat-icon>
        </button>

        <button mat-icon-button [disabled]="undoDisabled()" (click)="replay()">
          <mat-icon aria-label="Replay game">replay</mat-icon>
        </button>

        <span class="filler"></span>

      </mat-toolbar>
    </div>

    <div class="game-board-container">
      <app-board></app-board>
    </div>

    <div class="game-toolbar-container">

      <div class="game-toolbar-left-container">

        <div class="game-toolbar-button" *ngFor="let b of buttons()">
          <button
            mat-mini-fab
            (click)="buttonClicked(b)"
            color=""
            [matBadge]="numbers(b)"
            matBadgeColor="{{numbersAvailable(b) ? '' : 'accent'}}"
          >{{b}}
          </button>
        </div>

      </div>

      <div class="game-toolbar-right-container">

        <div class="game-toolbar-button">
          <button
            mat-mini-fab
            (click)="undo()"
            [disabled]="undoDisabled()"
            color=""
            matTooltip="Undo last operation"
            aria-label="Undo last operation"
          >
            <mat-icon>undo</mat-icon>
          </button>
        </div>

        <div class="game-toolbar-button">
          <button
            mat-mini-fab
            (click)="redo()"
            [disabled]="redoDisabled()"
            color=""
            matTooltip="Redo last operation"
            aria-label="Redo last operation"
          >
            <mat-icon>redo</mat-icon>
          </button>
        </div>

        <div class="game-toolbar-button">
          <mat-slide-toggle
            color="accent"
            [(ngModel)]="buttonMode"
            matTooltip="Toggle input mode to insert numbers or hints inside currently selected cell"
            aria-label="Toggle input buttons mode to insert numbers or hints inside currently selected cell"
          >
          </mat-slide-toggle>
        </div>

        <div class="game-toolbar-button">
          <button
            mat-mini-fab
            (click)="hint()"
            color=""
            matTooltip="Get an hint on the next move"
            aria-label="Get an hint on the next move"
          >
            <mat-icon>card_giftcard</mat-icon>
          </button>
        </div>

        <div class="game-toolbar-button">
          <button
            mat-mini-fab
            (click)="unsetNumber()"
            [disabled]="unsetNumberDisabled()"
            color=""
            matTooltip="Clear selected cell"
            aria-label="Clear selected cell"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <div class="game-toolbar-button">
          <button
            mat-mini-fab
            (click)="verify()"
            color=""
            matTooltip="Check for solvability"
            aria-label="Check if current game configuration is still solvable"
          >
            <mat-icon>build</mat-icon>
          </button>
        </div>

      </div>

    </div>

  </div>
</div>
