<!--<app-navigation></app-navigation>-->
<div class="game-container">

  <div class="game-main-toolbar-container">
    <mat-toolbar>
      <button mat-icon-button (click)="new()">
        <mat-icon aria-label="New Game">playlist_play</mat-icon>
      </button>
      <button mat-icon-button [disabled]="!isUndoAvailable()" (click)="replay()">
        <mat-icon aria-label="Replay game">replay</mat-icon>
      </button>
      <button mat-icon-button (click)="verify()">
        <mat-icon aria-label="New Game">build</mat-icon>
      </button>
      <span class="filler"></span>
      <button mat-icon-button [disabled]="!isUndoAvailable()" (click)="undoLastMove()">
        <mat-icon aria-label="Undo last move">undo</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <!-- Add Content Here -->
  <!--<mat-toolbar>-->
  <!--<mat-toolbar-row>-->
  <!--</mat-toolbar-row>-->
  <!--</mat-toolbar>-->
  <div class="game-board-container">
    <app-board></app-board>
  </div>

  <div class="game-toolbar-container">

    <div class="game-toolbar-left-container">

      <div class="game-toolbar-button" *ngFor="let b of buttons()">
        <button mat-mini-fab (click)="buttonClicked(b)" color=""
                [matBadge]="numbers(b)" matBadgeColor="{{numbersAvailable(b) ? '' : 'accent'}}"
        >{{b}}
        </button>
      </div>

    </div>

    <div class="game-toolbar-right-container">

      <div class="game-toolbar-button">
        <button mat-mini-fab (click)="undo()" [disabled]="isUndoAvailable()" color="">
          <mat-icon>undo</mat-icon>
        </button>
      </div>

      <div class="game-toolbar-button">
        <button mat-mini-fab (click)="redo()" [disabled]="isRedoAvailable()" color="">
          <mat-icon>redo</mat-icon>
        </button>
      </div>

      <div class="game-toolbar-button">
        <mat-slide-toggle
          color="accent"
          [(ngModel)]="buttonMode"
        >
        </mat-slide-toggle>
      </div>

      <div class="game-toolbar-button"></div>

      <div class="game-toolbar-button">
        <button mat-mini-fab (click)="unsetNumber()" [disabled]="unsetNumberDisabled()" color="">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </div>

  </div>

</div>
