.game-container {
  max-width: 33em;
}

.game-main-toolbar-container {
}

.game-board-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.game-toolbar-container {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  .game-toolbar-left-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    grid-row-gap: 1em;

    .game-toolbar-button {
      text-align: center;
    }
  }

  .game-toolbar-right-container {
    flex-grow: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    grid-row-gap: 1em;
    grid-column-gap: 0.5em;
  }
}
