@import '~@angular/material/theming';

@mixin cell-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .selected {
    background-color: mat-color($primary, 300);
  }

  .highlighted {
    background-color: mat-color($mat-grey, 300);
  }

  .invalid {
    color: mat-color($warn) !important;
  }

  .modifiable {
    color: mat-color($primary, 600);
  }

  .same-number {
    background-color: mat-color($primary, 100);
  }

  .cell-number {
    text-align: center;
    @extend .mat-title;
    margin: 0;
  }

  .cell-hint {
    @extend .mat-caption;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
    color: mat-color($accent);
  }
}
