@import '~@angular/material/theming';

@mixin cell-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $secondary: mat-palette($mat-grey);


  .selected {
    background-color: mat-color($primary, darker);
  }

  .highlighted {
    background-color: mat-color($primary, lighter);
  }

  .invalid {
    color: mat-color($warn) !important;
  }

  .modifiable {
    color: mat-color($secondary);
  }

  .same-number {
    background-color: mat-color($primary, default);
  }

  .hint-highlighted {
    color: mat-color($accent, darker) !important;
  }

  .cell-number {
    text-align: center;
    @extend .mat-title;
    margin: 0;
  }

  .cell-hint {
    @extend .mat-caption;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
    color: mat-color($accent);
  }
}
