<div class="cell-container" [class.selected]="selected" [class.highlighted]="highlighted" [class.same-number]="sameNumber" (click)="selectCell(cell)">

  <ng-template [ngIf]="cell.num > 0" [ngIfElse]="showHints">
    <div class="cell-number" [class.invalid]="invalid" [class.modifiable]="modifiable">
      {{number}}
    </div>
  </ng-template>

  <ng-template #showHints>
    <div class="cell-hint-container">
      <div class="cell-hint" *ngFor="let hint of hints" [class.hint-highlighted]="hintHighlighted(hint)">
        {{hint}}
      </div>
    </div>
  </ng-template>

</div>
