/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import 'app/cell/cell.component.theme';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$hint: mat-palette($mat-green);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include cell-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
