<div class="home-container">
  <div class="home-content">

    <div>
      <h1>Sudoku</h1>
    </div>

    <div *ngFor="let level of ['Easy', 'Medium', 'Hard']">
      <button mat-button [class.selected]="isLevel(level.toLowerCase() | lowercase)" (click)="setLevel(level.toLowerCase())"><h2>{{level}}</h2></button>
    </div>

    <div>
      <a mat-fab color="primary" routerLink="/game/{{level}}">
        <mat-icon>play_arrow</mat-icon>
      </a>
    </div>

    <div>
      <a mat-fab color="primary" routerLink="/game" *ngIf="gameExists()">
        <mat-icon>restore</mat-icon>
      </a>
    </div>

    <div class="home-settings">
      <a mat-fab color="primary" routerLink="/preferences">
        <mat-icon>settings</mat-icon>
      </a>
    </div>

  </div>
</div>
