<div class="settings-container mat-subheading-1">
  <div class="settings-content">

    <div class="settings-heading mat-h1">
      <h1>Settings</h1>
    </div>

    <div class="settings-item">
      <mat-slide-toggle [(ngModel)]="manualHints">
        <span class="mat-subheading-1">Hints are manually managed</span>
      </mat-slide-toggle>
    </div>

    <div class="settings-item">
      Theme
      <mat-radio-group [(ngModel)]="theme" class="settings-theme">
        <mat-radio-button value="theme" class="settings-theme-radio-button" >Indigo - Pink</mat-radio-button>
        <mat-radio-button value="deeppurple-amber-theme" class="settings-theme-radio-button" >Deep purple - Amber</mat-radio-button>
        <mat-radio-button value="pink-bluegrey-theme" class="settings-theme-radio-button" >Pink - Blue grey</mat-radio-button>
        <mat-radio-button value="purple-green-theme" class="settings-theme-radio-button" >Purple - Green</mat-radio-button>
      </mat-radio-group>
    </div>

    <div></div>

    <div class="settings-back">
      <a mat-fab color="primary" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </a>
    </div>

  </div>

</div>
