.settings-container {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings-content {
  max-width: 40em;
  height: 90%;
  width: 80%;
  display: grid;
  align-items: center;
  grid-template-rows: 20% 15% 20% 33% 12%;
}

.settings-heading {
  text-align: center;
}

.settings-item {
  display: flex;
  justify-content: center;
}

.settings-theme {
  display: inline-flex;
  flex-direction: column;
}

.settings-theme-radio-button {
  margin: 5px;
}

.settings-back {
  text-align: right;
}
